{% extends 'base.html' %}
{% block title %}Editar Animal en {{ raza.nombre }}{% endblock %}
{% block content %}
<h2>Editar Animal en {{ raza.nombre }}</h2>
<form method="post" id="animal-edit-form">
    <div class="row g-3">
        <div class="col-md-3">
            <label class="form-label">RP*</label>
            <input class="form-control" name="rp" required maxlength="50" value="{{ animal.rp }}">
        </div>
        <div class="col-md-3">
            <label class="form-label">HBA</label>
            <input class="form-control" name="hba" maxlength="50" value="{{ animal.hba }}">
        </div>
        <div class="col-md-3">
            <label class="form-label">Nombre</label>
            <input class="form-control" name="nombre" maxlength="100" value="{{ animal.nombre }}">
        </div>
        <div class="col-md-3">
            <label class="form-label">Sexo</label>
            <input class="form-control" name="sexo" maxlength="10" value="{{ animal.sexo }}">
        </div>
        <div class="col-md-3">
            <label class="form-label">Fecha Nacimiento</label>
            <input type="date" class="form-control" name="fecha_nac" value="{{ animal.fecha_nac|default('', true) }}">
        </div>
        <div class="col-md-3">
            <label class="form-label">Nacimiento</label>
            <input class="form-control" name="nacimiento" maxlength="10" value="{{ animal.nacimiento }}">
        </div>
        <div class="col-md-3">
            <label class="form-label">Color</label>
            <input class="form-control" name="color" maxlength="50" value="{{ animal.color }}">
        </div>
        <div class="col-md-3">
            <label class="form-label">Padre</label>
            <input class="form-control" name="padre" maxlength="100" value="{{ animal.padre }}">
        </div>
        <div class="col-md-3">
            <label class="form-label">Madre</label>
            <input class="form-control" name="madre" maxlength="100" value="{{ animal.madre }}">
        </div>
        <div class="col-md-3">
            <label class="form-label">Abuelo Paterno</label>
            <input class="form-control" name="abuelo_paterno" maxlength="100" value="{{ animal.abuelo_paterno }}">
        </div>
        <div class="col-md-3">
            <label class="form-label">Abuelo Materno</label>
            <input class="form-control" name="abuelo_materno" maxlength="100" value="{{ animal.abuelo_materno }}">
        </div>
        <div class="col-md-3">
            <label class="form-label">Familia</label>
            <input class="form-control" name="familia" maxlength="100" value="{{ animal.familia }}">
        </div>
        <div class="col-md-3">
            <label class="form-label">F</label>
            <input class="form-control" name="f" maxlength="20" value="{{ animal.f }}">
        </div>
        <div class="col-md-3">
            <label class="form-label">Tamaño</label>
            <input class="form-control" name="tamano" maxlength="30" value="{{ animal.tamano }}">
        </div>
        <div class="col-md-2">
            <label class="form-label">Pezuñas</label>
            <input class="form-control" name="pezuñas" maxlength="20" value="{{ animal.pezuñas }}">
        </div>
        <div class="col-md-2">
            <label class="form-label">Articulación</label>
            <input class="form-control" name="articulacion" maxlength="20" value="{{ animal.articulacion }}">
        </div>
        <div class="col-md-2">
            <label class="form-label">Aplomos Delanteros</label>
            <input class="form-control" name="ap_delanteros" maxlength="20" value="{{ animal.ap_delanteros }}">
        </div>
        <div class="col-md-2">
            <label class="form-label">Aplomos Traseros</label>
            <input class="form-control" name="ap_traseros" maxlength="20" value="{{ animal.ap_traseros }}">
        </div>
        <div class="col-md-2">
            <label class="form-label">Curvatura Garrones</label>
            <input class="form-control" name="curv_garrones" maxlength="20" value="{{ animal.curv_garrones }}">
        </div>
        <div class="col-md-2">
            <label class="form-label">Apertura Posterior</label>
            <input class="form-control" name="apert_posterior" maxlength="20" value="{{ animal.apert_posterior }}">
        </div>
        <div class="col-md-2">
            <label class="form-label">Ubres/Pezones</label>
            <input class="form-control" name="ubres_pezones" maxlength="20" value="{{ animal.ubres_pezones }}">
        </div>
        <div class="col-md-2">
            <label class="form-label">Forma Testicular</label>
            <input class="form-control" name="forma_testicular" maxlength="20" value="{{ animal.forma_testicular }}">
        </div>
        <div class="col-md-2">
            <label class="form-label">Desplazamiento</label>
            <input class="form-control" name="desplazamiento" maxlength="20" value="{{ animal.desplazamiento }}">
        </div>
        <div class="col-md-2">
            <label class="form-label">Clase</label>
            <input class="form-control" name="clase" maxlength="30" value="{{ animal.clase }}">
        </div>
        <div class="col-md-3">
            <label class="form-label">Impresión General</label>
            <input class="form-control" name="impresion_general" maxlength="100" value="{{ animal.impresion_general }}">
        </div>
        <div class="col-md-2">
            <label class="form-label">Musculatura</label>
            <input class="form-control" name="musculatura" maxlength="20" value="{{ animal.musculatura }}">
        </div>
        <div class="col-md-2">
            <label class="form-label">Anchura</label>
            <input class="form-control" name="anchura" maxlength="20" value="{{ animal.anchura }}">
        </div>
        <div class="col-md-2">
            <label class="form-label">Costilla</label>
            <input class="form-control" name="costilla" maxlength="20" value="{{ animal.costilla }}">
        </div>
        <div class="col-md-2">
            <label class="form-label">Docilidad</label>
            <input class="form-control" name="docilidad" maxlength="20" value="{{ animal.docilidad }}">
        </div>
        <div class="col-md-2">
            <label class="form-label">Valoración</label>
            <input class="form-control" name="valoracion" maxlength="50" value="{{ animal.valoracion }}">
        </div>
        <div class="col-md-12">
            <label class="form-label">Observaciones</label>
            <textarea class="form-control" name="observaciones" rows="2">{{ animal.observaciones }}</textarea>
        </div>
        <div class="col-md-12">
            <label class="form-label">Premios</label>
            <textarea class="form-control" name="premios" rows="2">{{ animal.premios }}</textarea>
        </div>
        <!-- EPDs -->
        <div class="col-md-2">
            <label class="form-label">EPD Nac</label>
            <input class="form-control" name="epd_nac" maxlength="50" value="{{ animal.epd_nac }}">
        </div>
        <div class="col-md-2">
            <label class="form-label">EPD Dest</label>
            <input class="form-control" name="epd_dest" maxlength="50" value="{{ animal.epd_dest }}">
        </div>
        <div class="col-md-2">
            <label class="form-label">EPD Leche</label>
            <input class="form-control" name="epd_leche" maxlength="50" value="{{ animal.epd_leche }}">
        </div>
        <div class="col-md-2">
            <label class="form-label">EPD 18m</label>
            <input class="form-control" name="epd_18m" maxlength="50" value="{{ animal.epd_18m }}">
        </div>
        <div class="col-md-2">
            <label class="form-label">EPD PaV</label>
            <input class="form-control" name="epd_pa_v" maxlength="50" value="{{ animal.epd_pa_v }}">
        </div>
        <div class="col-md-2">
            <label class="form-label">EPD CE</label>
            <input class="form-control" name="epd_ce" maxlength="50" value="{{ animal.epd_ce }}">
        </div>
        <div class="col-md-2">
            <label class="form-label">EPD AOB</label>
            <input class="form-control" name="epd_aob" maxlength="50" value="{{ animal.epd_aob }}">
        </div>
        <div class="col-md-2">
            <label class="form-label">EPD EGS</label>
            <input class="form-control" name="epd_egs" maxlength="50" value="{{ animal.epd_egs }}">
        </div>
        <div class="col-md-2">
            <label class="form-label">EPD MARB</label>
            <input class="form-control" name="epd_marb" maxlength="50" value="{{ animal.epd_marb }}">
        </div>
        <!-- Valoraciones -->
        <div class="col-md-2">
            <label class="form-label">Valoración 14m</label>
            <input class="form-control" name="val_14m" maxlength="100" value="{{ animal.val_14m }}">
        </div>
        <div class="col-md-2">
            <label class="form-label">Valoración 18m</label>
            <input class="form-control" name="val_18m" maxlength="100" value="{{ animal.val_18m }}">
        </div>
        <div class="col-md-2">
            <label class="form-label">Valoración Ternero</label>
            <input class="form-control" name="val_ternero" maxlength="100" value="{{ animal.val_ternero }}">
        </div>
        <div class="col-md-2">
            <label class="form-label">Valoración Adulto</label>
            <input class="form-control" name="val_adulto" maxlength="100" value="{{ animal.val_adulto }}">
        </div>
    </div>
    <div class="mt-4">
        <button class="btn btn-primary">Actualizar Animal</button>
        <a class="btn btn-secondary" href="{{ url_for('ver_raza', raza_id=raza.id) }}">Volver</a>
    </div>
</form>
{% endblock %}
